.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 15px;
    margin: 20px auto;
    width: 95vw;
}

.skip_btn {
    margin: 3px;
    padding: 5px;
    background-color: gainsboro;
    color: black;
}

table {
    width: 80vw;
    white-space: nowrap;
    border-collapse: collapse;
    margin: 20px auto;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    padding: 0;
}

h1 {
    margin-top: 50px;
    text-align: center;
}

h3 {
    text-align: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

select, input {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

input:focus, select:focus {
    outline: none;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button {
    margin: 5px 0;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

th,
td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}